---
import mfo_picture from '../../assets/images/mfo_picture.jpg';
import Badge from '../Badge.astro';
import { Image } from '@astrojs/image/components';
import { general } from '../../assets/data/db.json';
import CvButton from '../CvButton.astro';

---
<header class="mb-10">
    <div class="cvButton flex justify-center md:justify-end mb-4">
        <CvButton url={general.cv} title="Download CV" />
    </div>
    <div class="flex flex-col items-center justify-center text-center md:justify-start md:text-start md:align-bottom mb-10 md:flex-row">
        <Image class="rounded w-24 h-24 me-3" src={mfo_picture} alt="Mohannad Otaibi Picture" format="webp" />
        <div class="title">
            <h1 class="text-4xl md:text-5xl font-extrabold m-0 mb-2">Mohannad Faihan <span class="bg-gradient-to-r from-cyan-300 to-blue-700 text-transparent bg-clip-text">(Dalbahi)</span> Otaibi</h1>
            <p class="text-slate-400">The Geek you wanna talk to about technology and stuff.. I code and I'm in looove with change..!</p>
            <p class="text-slate-400">#Saudi, #xKFUPMer, #Comبuتer_geeك, #MsLkjy, #M5_wAjD_5rBaN, #ENFJ, #Married, #Father, #8ies, #Tabs-Team</p>
        </div>
    </div>

    <div class="badges mb-10">
        <div class="general mb-1">
            { general.social_links.data.general.map((link) => (
                <Badge url={link.url} title={link.title} />
            )) }
        </div>
    
        <div class="technical">
            { general.social_links.data.technical.map((link) => (
                <Badge url={link.url} title={link.title} />
            )) }
        </div>
    </div>

    <div class="lead">
        <p class="text-lg font-normal text-gray-500 lg:text-xl  dark:text-gray-400">In this page, you may get to know me a little bit better by knowing the tools I use, languages I speak, things I do or enjoy..</p>
    </div>
    
</header>