---
import Link from './Link.astro';
import Title from './Title.astro';

export interface Props {
	content: any;
	xlColSize?: number;
  	colSize?: number;
}

const { content, xlColSize = 4, colSize = 2 } = Astro.props;
const { title, description, data } = content;

const gridSizes: any = {
	1: 'grid-cols-1',
	2: 'grid-cols-2',
	3: 'grid-cols-3',
	4: 'grid-cols-4',
	5: 'grid-cols-5',
	6: 'grid-cols-6',
	7: 'grid-cols-7',
	8: 'grid-cols-8',
	9: 'grid-cols-9',
	10: 'grid-cols-10',
}
const mdGridSizes: any = {
	1: 'md:grid-cols-1',
	2: 'md:grid-cols-2',
	3: 'md:grid-cols-3',
	4: 'md:grid-cols-4',
	5: 'md:grid-cols-5',
	6: 'md:grid-cols-6',
	7: 'md:grid-cols-7',
	8: 'md:grid-cols-8',
	9: 'md:grid-cols-9',
	10: 'md:grid-cols-10',

}
console.log(`${content.title.padEnd(25)} ${xlColSize.toString().padEnd(5)} ${colSize}`); 
---

<section class="my-20">
	<Title title={title} description={description} />
	<div class={`grid ${gridSizes[colSize]} ${mdGridSizes[xlColSize]} gap-2`}>
		{data.map((item: any) => (
			<Link {...item} />
		))}
	</div>
</section>