---
import Quote from '../Quote.astro';
import Title from './Title.astro';

export interface Props {
	content: any;
	xlColSize?: number;
  	colSize?: number;
}

const { content, xlColSize=2, colSize=1 } = Astro.props;
---

<section class="my-12">
	<Title title={content.title} description={content.description} />

	<div class="container mx-auto">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
			{content.data.map((item: any) => (
				<Quote text={item.text} author={item.author} source={item.source} />
			))}
		</div>
	</div>
</section>