---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
import Section from '../components/Sections/GeneralSection.astro';
import operating_systems from '../assets/data/linked/operating_systems.json';
import organizations from '../assets/data/linked/organizations.json';
import languages from '../assets/data/linked/languages.json';
import achievements from '../assets/data/linked/achievements.json';
import bookmarks from '../assets/data/linked/bookmarks.json';
import applications from '../assets/data/linked/applications.json';
import standards from '../assets/data/linked/standards.json';
import games from '../assets/data/linked/games.json';
import contributions from '../assets/data/linked/contributions.json';
import general from '../assets/data/general.json';
import quotes from '../assets/data/quotes.json';
import locations from '../assets/data/locations.json';
import QuotesSection from '../components/Sections/QuotesSection.astro';
import MapSection from '../components/Sections/MapSection.astro';
import GamesSection from '../components/Sections/GamesSection.astro';


---

<Layout title={general.title} description={general.description}>
	<main class="">
		<div class="max-w-7xl mx-auto p-2 lg:p-0">
		<Header />	
		<Section content={applications} colSize={2} xlColSize={4} />
		<Section content={operating_systems} colSize={1} xlColSize={2} />
		<Section content={languages} />
		<Section content={achievements} colSize={1} xlColSize={1} />
		<Section content={contributions} colSize={1} xlColSize={1} />
		<Section content={standards} />
		<Section content={organizations} />
		<Section content={bookmarks} colSize={1} xlColSize={3} />
		
		<GamesSection content={games} />
		<QuotesSection content={quotes} />
		</div>
		
		<MapSection content={locations} />
		<div class="max-w-7xl mx-auto">
		<Footer />
		</div>
	</main>
</Layout>
