---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Common/Card.astro';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
import Section from '../components/Sections/GeneralSection.astro';
import { general, linked_sections, quotes, locations } from '../assets/data/db.json';
import QuotesSection from '../components/Sections/QuotesSection.astro';
import MapSection from '../components/Sections/MapSection.astro';


---

<Layout title={general.title} description={general.description}>
	<main class="m-auto px-6 max-w-5xl">
		<Header />	
		<Section content={linked_sections.applications} />
		<Section content={linked_sections.operating_systems} />
		<Section content={linked_sections.languages} />
		<Section content={linked_sections.achievements} colSize={1} xlColSize={1} />
		<Section content={linked_sections.standards} />
		<Section content={linked_sections.organizations} />
		<Section content={linked_sections.bookmarks} colSize={1} xlColSize={2} />
		<Section content={linked_sections.games} colSize={1} xlColSize={2} />
		
		<QuotesSection content={quotes} />
		<MapSection content={locations} />
			
		<Footer />
	</main>
</Layout>
