---
import mfo_picture from '../../assets/images/mfo_picture.jpg';
import { Image } from '@astrojs/image/components';
import general from '../../assets/data/general.json';
import Tags from './Tags.astro';
---

<header class="mb-10 text-center
	overflow-hidden 
	before:absolute before:top-0 before:left-1/2 
    before:bg-[url('/assets/images/polygon.svg')] 
	before:bg-no-repeat before:bg-top before:bg-cover before:bg-scroll
	before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2 
	dark:before:bg-[url('/assets/images/polygon-dark.svg')]
    ">

    <div class="flex flex-col items-center justify-center text-center mb-10">
        <Image class="rounded w-24 h-24 mb-4" src={mfo_picture} alt="Mohannad Otaibi Picture" format="webp" />
        <div class="title">
            <h1 class="text-4xl md:text-5xl font-extrabold m-0 mb-2">{general.title}</h1>
            <p class="text-slate-500 dark:text-slate-400">{general.description}</p>
            <p class="text-slate-500 dark:text-slate-400">{general.hashtags}</p>
        </div>
    </div>

    <Tags tags={general.social_links.data} />
    
    
</header>