---
import Tag from './Tag.astro';
import CvButton from './Button.astro';
import general from '../../assets/data/general.json';
export interface Props {
	tags: any;
}

const { tags } = Astro.props;
---

<div class="badges flex flex-col items-center justify-center">
    <div class="general flex flex-wrap justify-center">
        { tags.general.map((link: any) => (
            <Tag url={link.url} title={link.title} />
        )) }
    </div>

    <div class="technical flex flex-wrap justify-center">
        { tags.technical.map((link: any) => (
            <Tag url={link.url} title={link.title} />
        )) }
    </div>
    <CvButton url={general.cv} title="Download Resume" />
</div>
